<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmj.viewpagertest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".verticalviewpager.TestVerticalViewPagerOneAct" />
        <activity android:name=".horizontalviewpager.TestHorizontalViewPagerOneAct" />
        <activity android:name=".recyclerview.TestRecyclerViewOneAct" />
        <activity android:name=".aes.TestAesAct" />
        <activity android:name=".selfdefinview.MySelfDefinedViewAct" />
        <activity android:name=".parcelable.ReceiveParcelableAct" />

        <service
            android:name=".downloadprocess.DownloadService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>